openapi: 3.0.1
info:
  contact:
    email: apiteam@swirepay.com
  description: Swirepay REST APIs' are resource-oriented URLs that accept JSON-encoded
    request bodies, return JSON-encoded responses, and use standard HTTP response
    codes, authentication, and verbs. You can use the Swirepay API in test mode, which
    does not affect your live data or interact with the banking networks. The `API
    key` you use to authenticate the request determines whether the request is live
    mode or test mode.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://policies.swirepay.com
  title: Swirepay API
  version: 1.0.0
externalDocs:
  description: Learn more with Swirepay guide
  url: https://guide.swirepay.com
servers:
- url: https://api.swirepay.com/v1
paths:
  /customer:
    get:
      description: Get customers
      operationId: getAllCustomers
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerListResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get all customers
      tags:
      - Customer
      x-accepts: application/json
    post:
      operationId: addCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Add a new customer
      tags:
      - Customer
      x-contentType: application/json
      x-accepts: application/json
  /customer/{gid}:
    delete:
      operationId: deleteCustomerByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful Response
      security:
      - api_key: []
      summary: Delete customer by Gid
      tags:
      - Customer
      x-accepts: application/json
    get:
      operationId: getCustomerByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get Customer by Gid
      tags:
      - Customer
      x-accepts: application/json
    patch:
      operationId: updateCustomer
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Update Customer by Gid
      tags:
      - Customer
      x-contentType: application/json
      x-accepts: application/json
  /payment-method:
    post:
      operationId: addPaymentMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Add Payment Method
      tags:
      - Payment Method
      x-contentType: application/json
      x-accepts: application/json
  /payment-method/{gid}:
    delete:
      operationId: deletePaymentMethod
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful Response
      security:
      - api_key: []
      summary: Delete Payment Method
      tags:
      - Payment Method
      x-accepts: application/json
    get:
      operationId: getPaymentMethodByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get Payment Method by Gid
      tags:
      - Payment Method
      x-accepts: application/json
  /payment-session:
    get:
      description: Get all payment session
      operationId: getAllPaymentSession
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSessionListResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get all payment session
      tags:
      - Payment Session
      x-accepts: application/json
    post:
      operationId: addPaymentSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSessionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSessionResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Add a new payment ssession
      tags:
      - Payment Session
      x-contentType: application/json
      x-accepts: application/json
  /payment-session/{gid}:
    get:
      operationId: getPaymentSessionByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSessionResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get Payment Session by Gid
      tags:
      - Payment Session
      x-accepts: application/json
  /payment-session/{gid}/notify:
    get:
      operationId: notifyPaymentSessionByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSessionResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Notify Payment Session by Gid
      tags:
      - Payment Session
      x-accepts: application/json
  /payment-session/{gid}/update:
    patch:
      operationId: updatePaymentSession
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSessionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSessionResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Update Payment Session
      tags:
      - Payment Session
      x-contentType: application/json
      x-accepts: application/json
  /payment-session/{gid}/confirm:
    patch:
      operationId: confirmPaymentSession
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSessionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSessionResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Confirm Payment Session
      tags:
      - Payment Session
      x-contentType: application/json
      x-accepts: application/json
  /payment-session/{gid}/capture:
    patch:
      operationId: capturePaymentSession
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSessionResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Capture Payment Session
      tags:
      - Payment Session
      x-accepts: application/json
  /payment-session/{gid}/cancel:
    patch:
      operationId: cancelPaymentSession
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSessionResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Cancel Payment Session
      tags:
      - Payment Session
      x-accepts: application/json
  /payment-session/{gid}/refund:
    patch:
      operationId: refundPaymentSession
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSessionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSessionResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Refund Payment Session
      tags:
      - Payment Session
      x-contentType: application/json
      x-accepts: application/json
  /refund:
    get:
      operationId: getAllRefunds
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundListResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get All Refunds
      tags:
      - Refund
      x-accepts: application/json
  /refund/{gid}:
    get:
      operationId: getRefundByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get refund by Gid
      tags:
      - Refund
      x-accepts: application/json
  /dispute:
    get:
      operationId: getAllDisputes
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeListResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get All Disputes
      tags:
      - Dispute
      x-accepts: application/json
  /dispute/{gid}:
    get:
      operationId: getDisputeByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get dispute by Gid
      tags:
      - Dispute
      x-accepts: application/json
  /payout:
    get:
      operationId: getAllPayouts
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutListResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get All payouts
      tags:
      - Payout
      x-accepts: application/json
  /payout/{gid}:
    get:
      operationId: getPayoutByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get payout by Gid
      tags:
      - Payout
      x-accepts: application/json
  /invoice:
    get:
      operationId: getAllInvoices
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceListResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get All Invoices
      tags:
      - Invoice
      x-accepts: application/json
    post:
      operationId: addInvoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Add a new invoice
      tags:
      - Invoice
      x-contentType: application/json
      x-accepts: application/json
  /invoice/{gid}:
    get:
      operationId: getInvoiceByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get invoice by Gid
      tags:
      - Invoice
      x-accepts: application/json
  /invoice/{gid}/active:
    patch:
      operationId: updateInvoiceActive
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Update invoice to active
      tags:
      - Invoice
      x-contentType: application/json
      x-accepts: application/json
  /invoice/{gid}/draft:
    patch:
      operationId: updateInvoiceDraft
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Update invoice to draft
      tags:
      - Invoice
      x-contentType: application/json
      x-accepts: application/json
  /invoice/{gid}/pay:
    patch:
      operationId: payInvoice
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: pay for invoice
      tags:
      - Invoice
      x-contentType: application/json
      x-accepts: application/json
  /subscription:
    get:
      operationId: getAllSubscription
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get All Subscription
      tags:
      - Subscription
      x-accepts: application/json
    post:
      operationId: addSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Add a new subscription
      tags:
      - Subscription
      x-contentType: application/json
      x-accepts: application/json
  /subscription/{gid}:
    get:
      operationId: getSubscriptionByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get Subscription by Gid
      tags:
      - Subscription
      x-accepts: application/json
  /subscription/{gid}/cancel:
    patch:
      operationId: cancelSubscription
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Cancel Subscription
      tags:
      - Subscription
      x-contentType: application/json
      x-accepts: application/json
  /payment-link:
    get:
      operationId: getAllPaymentLink
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkListResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get All payment Link
      tags:
      - Payment Link
      x-accepts: application/json
    post:
      operationId: addPaymentLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLinkRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Add a new Payment Link
      tags:
      - Payment Link
      x-contentType: application/json
      x-accepts: application/json
  /payment-link/{gid}:
    get:
      operationId: getPaymentLinkByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get Payment Link by Gid
      tags:
      - Payment Link
      x-accepts: application/json
  /payment-link/{gid}/cancel:
    patch:
      operationId: cancelPaymentLinkByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get Payment Link by Gid
      tags:
      - Payment Link
      x-accepts: application/json
  /transaction:
    get:
      operationId: getAllTransaction
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get All transactions
      tags:
      - Transaction
      x-accepts: application/json
  /public-key:
    get:
      operationId: getAllPublicKey
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeyListResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get All Public Key
      tags:
      - Public Key
      x-accepts: application/json
  /public-key/{gid}/roll:
    patch:
      operationId: rollPublicKeyByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicKeyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeyResponse'
          description: Successful Response
      summary: Roll Public Key by Gid
      tags:
      - Public Key
      x-contentType: application/json
      x-accepts: application/json
  /secret-key:
    get:
      operationId: getAllSecretKey
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretKeyListResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get All Secret Key
      tags:
      - Secret Key
      x-accepts: application/json
  /secret-key/{gid}/roll:
    patch:
      operationId: rollSecretKeyByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretKeyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretKeyResponse'
          description: Successful Response
      summary: Roll Secret Key by Gid
      tags:
      - Secret Key
      x-contentType: application/json
      x-accepts: application/json
  /webhook:
    get:
      operationId: getAllWebhook
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
          description: Successful Response
      security:
      - api_key: []
      summary: Get All Webhook
      tags:
      - Webhook
      x-accepts: application/json
    post:
      operationId: addWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
          description: Successful Response
      summary: Add new webhook
      tags:
      - Webhook
      x-contentType: application/json
      x-accepts: application/json
  /webhook/{gid}:
    delete:
      operationId: deleteWebhook
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful Response
      summary: Delete webhook
      tags:
      - Webhook
      x-accepts: application/json
    get:
      operationId: getWebhookByGid
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
          description: Successful Response
      summary: Get webhook by gid
      tags:
      - Webhook
      x-accepts: application/json
    patch:
      operationId: updateWebhook
      parameters:
      - explode: false
        in: path
        name: gid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
          description: Successful Response
      summary: Update webhook
      tags:
      - Webhook
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    CustomerRequest:
      example:
        phoneNumber: "180000000000"
        referenceNumber: referenceNumber
        taxValue: taxValue
        taxId: NONE
        name: Sample Customer
        shippingAddress:
          city: city
          countryCode: countryCode
          street: street
          postalCode: postalCode
          state: state
        billingAddress:
          city: city
          countryCode: countryCode
          street: street
          postalCode: postalCode
          state: state
        email: sample-customer@example.com
        taxStatus: TAXABLE
      properties:
        email:
          example: sample-customer@example.com
          type: string
        name:
          example: Sample Customer
          type: string
        phoneNumber:
          example: "180000000000"
          type: string
        referenceNumber:
          type: string
        taxStatus:
          enum:
          - TAXABLE
          - EXEMPT
          type: string
        taxId:
          enum:
          - NONE
          - EIN
          - GST
          type: string
        taxValue:
          type: string
        billingAddress:
          $ref: '#/components/schemas/AddressRequest'
        shippingAddress:
          $ref: '#/components/schemas/AddressRequest'
      required:
      - email
      - name
      - phoneNumber
      type: object
    Customer:
      example:
        gid: gid
        tax:
          createdAt: createdAt
          deleted: true
          id: 1
          type: type
          updatedAt: updatedAt
        referenceId: referenceId
        taxStatus: taxStatus
        createdAt: createdAt
        deleted: true
        phoneNumber: phoneNumber
        taxValue: taxValue
        name: name
        shippingAddress:
          country:
            deleted: true
            unCode: unCode
            alpha2: alpha2
            name: name
            alpha3: alpha3
            id: 0
          city: city
          street: street
          postalCode: postalCode
          id: 6
          state: state
        billingAddress:
          country:
            deleted: true
            unCode: unCode
            alpha2: alpha2
            name: name
            alpha3: alpha3
            id: 0
          city: city
          street: street
          postalCode: postalCode
          id: 6
          state: state
        email: email
        updatedAt: updatedAt
      properties:
        createdAt:
          type: string
        deleted:
          type: boolean
        email:
          type: string
        gid:
          type: string
        name:
          type: string
        phoneNumber:
          type: string
        referenceId:
          type: string
        billingAddress:
          $ref: '#/components/schemas/Address'
        shippingAddress:
          $ref: '#/components/schemas/Address'
        tax:
          $ref: '#/components/schemas/Tax'
        taxStatus:
          type: string
        taxValue:
          type: string
        updatedAt:
          type: string
      type: object
    CustomerListResponse:
      example:
        message: OK
        entity:
          number: 0
          numberOfElements: 0
          size: 0
          totalPages: 0
          content:
          - gid: gid
            tax:
              createdAt: createdAt
              deleted: true
              id: 1
              type: type
              updatedAt: updatedAt
            referenceId: referenceId
            taxStatus: taxStatus
            createdAt: createdAt
            deleted: true
            phoneNumber: phoneNumber
            taxValue: taxValue
            name: name
            shippingAddress:
              country:
                deleted: true
                unCode: unCode
                alpha2: alpha2
                name: name
                alpha3: alpha3
                id: 0
              city: city
              street: street
              postalCode: postalCode
              id: 6
              state: state
            billingAddress:
              country:
                deleted: true
                unCode: unCode
                alpha2: alpha2
                name: name
                alpha3: alpha3
                id: 0
              city: city
              street: street
              postalCode: postalCode
              id: 6
              state: state
            email: email
            updatedAt: updatedAt
          - gid: gid
            tax:
              createdAt: createdAt
              deleted: true
              id: 1
              type: type
              updatedAt: updatedAt
            referenceId: referenceId
            taxStatus: taxStatus
            createdAt: createdAt
            deleted: true
            phoneNumber: phoneNumber
            taxValue: taxValue
            name: name
            shippingAddress:
              country:
                deleted: true
                unCode: unCode
                alpha2: alpha2
                name: name
                alpha3: alpha3
                id: 0
              city: city
              street: street
              postalCode: postalCode
              id: 6
              state: state
            billingAddress:
              country:
                deleted: true
                unCode: unCode
                alpha2: alpha2
                name: name
                alpha3: alpha3
                id: 0
              city: city
              street: street
              postalCode: postalCode
              id: 6
              state: state
            email: email
            updatedAt: updatedAt
          empty: false
          totalElements: 0
        responseCode: 200
        status: SUCCESS
      properties:
        message:
          example: OK
          type: string
        responseCode:
          example: 200
          format: int64
          type: integer
        status:
          description: status of response
          enum:
          - SUCCESS
          - FAILED
          type: string
        entity:
          $ref: '#/components/schemas/CustomerListResponse_entity'
      type: object
    CustomerResponse:
      example:
        message: OK
        entity:
          gid: gid
          tax:
            createdAt: createdAt
            deleted: true
            id: 1
            type: type
            updatedAt: updatedAt
          referenceId: referenceId
          taxStatus: taxStatus
          createdAt: createdAt
          deleted: true
          phoneNumber: phoneNumber
          taxValue: taxValue
          name: name
          shippingAddress:
            country:
              deleted: true
              unCode: unCode
              alpha2: alpha2
              name: name
              alpha3: alpha3
              id: 0
            city: city
            street: street
            postalCode: postalCode
            id: 6
            state: state
          billingAddress:
            country:
              deleted: true
              unCode: unCode
              alpha2: alpha2
              name: name
              alpha3: alpha3
              id: 0
            city: city
            street: street
            postalCode: postalCode
            id: 6
            state: state
          email: email
          updatedAt: updatedAt
        responseCode: 200
        status: SUCCESS
      properties:
        message:
          example: OK
          type: string
        responseCode:
          example: 200
          format: int64
          type: integer
        status:
          description: status of response
          enum:
          - SUCCESS
          - FAILED
          type: string
        entity:
          $ref: '#/components/schemas/Customer'
      type: object
    PaymentMethodResponse:
      example:
        message: OK
        entity:
          createdAt: createdAt
          gid: gid
          deleted: true
          card:
            lastFour: lastFour
            cvv: cvv
            gid: gid
            scheme: scheme
            bin:
              country:
                deleted: true
                unCode: unCode
                alpha2: alpha2
                name: name
                alpha3: alpha3
                id: 0
              scheme: scheme
              bin: bin
              prepaid: true
              bankName: bankName
              cardLength: 1
              type: type
              bankCity: bankCity
              createdAt: createdAt
              deleted: true
              currency:
                toFixed: 5
                prefix: prefix
                name: name
                countryAlpha2: countryAlpha2
                id: 5
              id: 6
              bankUrl: bankUrl
              brand: brand
              luhn: true
              updatedAt: updatedAt
            expiryMonth: expiryMonth
            terminal: terminal
            expiryYear: expiryYear
            expiresAt: expiresAt
            createdAt: createdAt
            number: number
            deleted: true
            pin: pin
            name: name
            fingerprint: fingerprint
            present: true
            brand: brand
            updatedAt: updatedAt
            customer:
              gid: gid
              tax:
                createdAt: createdAt
                deleted: true
                id: 1
                type: type
                updatedAt: updatedAt
              referenceId: referenceId
              taxStatus: taxStatus
              createdAt: createdAt
              deleted: true
              phoneNumber: phoneNumber
              taxValue: taxValue
              name: name
              shippingAddress:
                country:
                  deleted: true
                  unCode: unCode
                  alpha2: alpha2
                  name: name
                  alpha3: alpha3
                  id: 0
                city: city
                street: street
                postalCode: postalCode
                id: 6
                state: state
              billingAddress:
                country:
                  deleted: true
                  unCode: unCode
                  alpha2: alpha2
                  name: name
                  alpha3: alpha3
                  id: 0
                city: city
                street: street
                postalCode: postalCode
                id: 6
                state: state
              email: email
              updatedAt: updatedAt
          updatedAt: updatedAt
          customer:
            gid: gid
            tax:
              createdAt: createdAt
              deleted: true
              id: 1
              type: type
              updatedAt: updatedAt
            referenceId: referenceId
            taxStatus: taxStatus
            createdAt: createdAt
            deleted: true
            phoneNumber: phoneNumber
            taxValue: taxValue
            name: name
            shippingAddress:
              country:
                deleted: true
                unCode: unCode
                alpha2: alpha2
                name: name
                alpha3: alpha3
                id: 0
              city: city
              street: street
              postalCode: postalCode
              id: 6
              state: state
            billingAddress:
              country:
                deleted: true
                unCode: unCode
                alpha2: alpha2
                name: name
                alpha3: alpha3
                id: 0
              city: city
              street: street
              postalCode: postalCode
              id: 6
              state: state
            email: email
            updatedAt: updatedAt
          paymentType:
            createdAt: createdAt
            deleted: true
            name: name
            id: 0
            updatedAt: updatedAt
          upi:
            createdAt: createdAt
            gid: gid
            deleted: true
            vpa: vpa
            updatedAt: updatedAt
            customer:
              gid: gid
              tax:
                createdAt: createdAt
                deleted: true
                id: 1
                type: type
                updatedAt: updatedAt
              referenceId: referenceId
              taxStatus: taxStatus
              createdAt: createdAt
              deleted: true
              phoneNumber: phoneNumber
              taxValue: taxValue
              name: name
              shippingAddress:
                country:
                  deleted: true
                  unCode: unCode
                  alpha2: alpha2
                  name: name
                  alpha3: alpha3
                  id: 0
                city: city
                street: street
                postalCode: postalCode
                id: 6
                state: state
              billingAddress:
                country:
                  deleted: true
                  unCode: unCode
                  alpha2: alpha2
                  name: name
                  alpha3: alpha3
                  id: 0
                city: city
                street: street
                postalCode: postalCode
                id: 6
                state: state
              email: email
              updatedAt: updatedAt
        responseCode: 200
        status: SUCCESS
      properties:
        message:
          example: OK
          type: string
        responseCode:
          example: 200
          format: int64
          type: integer
        status:
          description: status of response
          enum:
          - SUCCESS
          - FAILED
          type: string
        entity:
          $ref: '#/components/schemas/PaymentMethod'
      type: object
    PaymentMethodRequest:
      example:
        customerGid: customer-cce717534d2d4ccfa2efd1948a6bd0bd
        type: type
        card:
          number: number
          cvv: 1
          name: name
          expiryMonth: 7
          expiryYear: 0
        upi:
          vpa: testaccount@testbank
      properties:
        card:
          $ref: '#/components/schemas/CardRequest'
        customerGid:
          example: customer-cce717534d2d4ccfa2efd1948a6bd0bd
          type: string
        type:
          type: string
        upi:
          $ref: '#/components/schemas/UpiRequest'
      required:
      - type
      type: object
    RefundResponse:
      example:
        message: OK
        entity:
          reason: reason
          note: note
          gid: gid
          paymentSession:
            confirmMethod: confirmMethod
            gid: gid
            disputeDate: disputeDate
            errorDescription: errorDescription
            statementDescriptor: statementDescriptor
            receiptEmail: receiptEmail
            disputeType: disputeType
            nextActionUrl: nextActionUrl
            authorizationId: authorizationId
            description: description
            errorCode: errorCode
            feeTax: 9
            refundNote: refundNote
            secureStatus: secureStatus
            amountReceived: 5
            psClientSecret: psClientSecret
            createdAt: createdAt
            amountDisputed: 5
            disputeStatus: disputeStatus
            amountRefunded: 6
            captureMethod: captureMethod
            currency:
              toFixed: 5
              prefix: prefix
              name: name
              countryAlpha2: countryAlpha2
              id: 5
            net: 3
            returnUrl: returnUrl
            receiptNumber: receiptNumber
            updatedAt: updatedAt
            amount: 0
            paymentLinkId: paymentLinkId
            refundReason: refundReason
            respondBy: respondBy
            mrn: mrn
            receiptSms: receiptSms
            amountUnCaptured: 1
            rrn: rrn
            feeAmount: 7
            accountRate:
              createdAt: createdAt
              accountRate: 2
              processingMin: 4
              gid: gid
              deleted: true
              accountTax: 1
              accountFee: 1
              rate:
                country:
                  deleted: true
                  unCode: unCode
                  alpha2: alpha2
                  name: name
                  alpha3: alpha3
                  id: 0
                processingMin: 6
                gid: gid
                fee: 9
                tax: 6
                processingMax: 7
                acquirer:
                  createdAt: createdAt
                  deleted: true
                  test: true
                  name: name
                  id: 6
                  type: type
                  updatedAt: updatedAt
                paymentType:
                  createdAt: createdAt
                  deleted: true
                  name: name
                  id: 0
                  updatedAt: updatedAt
                createdAt: createdAt
                baseRate: 1
                deleted: true
                rate: 5
                baseTax: 9
                baseFee: 4
                currency:
                  toFixed: 5
                  prefix: prefix
                  name: name
                  countryAlpha2: countryAlpha2
                  id: 5
                id: 1
                category:
                  code: 9
                  name: name
                  id: 8
                updatedAt: updatedAt
              salesPerson: salesPerson
              processingMax: 7
              acquirer:
                createdAt: createdAt
                deleted: true
                test: true
                name: name
                id: 6
                type: type
                updatedAt: updatedAt
              updatedAt: updatedAt
            deleted: true
            paymentLinkGid: paymentLinkGid
            disputeFee: 2
            paymentMethod:
              createdAt: createdAt
              gid: gid
              deleted: true
              card:
                lastFour: lastFour
                cvv: cvv
                gid: gid
                scheme: scheme
                bin:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  scheme: scheme
                  bin: bin
                  prepaid: true
                  bankName: bankName
                  cardLength: 1
                  type: type
                  bankCity: bankCity
                  createdAt: createdAt
                  deleted: true
                  currency:
                    toFixed: 5
                    prefix: prefix
                    name: name
                    countryAlpha2: countryAlpha2
                    id: 5
                  id: 6
                  bankUrl: bankUrl
                  brand: brand
                  luhn: true
                  updatedAt: updatedAt
                expiryMonth: expiryMonth
                terminal: terminal
                expiryYear: expiryYear
                expiresAt: expiresAt
                createdAt: createdAt
                number: number
                deleted: true
                pin: pin
                name: name
                fingerprint: fingerprint
                present: true
                brand: brand
                updatedAt: updatedAt
                customer:
                  gid: gid
                  tax:
                    createdAt: createdAt
                    deleted: true
                    id: 1
                    type: type
                    updatedAt: updatedAt
                  referenceId: referenceId
                  taxStatus: taxStatus
                  createdAt: createdAt
                  deleted: true
                  phoneNumber: phoneNumber
                  taxValue: taxValue
                  name: name
                  shippingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  billingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  email: email
                  updatedAt: updatedAt
              updatedAt: updatedAt
              customer:
                gid: gid
                tax:
                  createdAt: createdAt
                  deleted: true
                  id: 1
                  type: type
                  updatedAt: updatedAt
                referenceId: referenceId
                taxStatus: taxStatus
                createdAt: createdAt
                deleted: true
                phoneNumber: phoneNumber
                taxValue: taxValue
                name: name
                shippingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                billingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                email: email
                updatedAt: updatedAt
              paymentType:
                createdAt: createdAt
                deleted: true
                name: name
                id: 0
                updatedAt: updatedAt
              upi:
                createdAt: createdAt
                gid: gid
                deleted: true
                vpa: vpa
                updatedAt: updatedAt
                customer:
                  gid: gid
                  tax:
                    createdAt: createdAt
                    deleted: true
                    id: 1
                    type: type
                    updatedAt: updatedAt
                  referenceId: referenceId
                  taxStatus: taxStatus
                  createdAt: createdAt
                  deleted: true
                  phoneNumber: phoneNumber
                  taxValue: taxValue
                  name: name
                  shippingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  billingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  email: email
                  updatedAt: updatedAt
            mdr: mdr
            paymentDate: paymentDate
            refundDate: refundDate
            paymentMethodType:
            - null
            - null
            status: status
            customer:
              gid: gid
              tax:
                createdAt: createdAt
                deleted: true
                id: 1
                type: type
                updatedAt: updatedAt
              referenceId: referenceId
              taxStatus: taxStatus
              createdAt: createdAt
              deleted: true
              phoneNumber: phoneNumber
              taxValue: taxValue
              name: name
              shippingAddress:
                country:
                  deleted: true
                  unCode: unCode
                  alpha2: alpha2
                  name: name
                  alpha3: alpha3
                  id: 0
                city: city
                street: street
                postalCode: postalCode
                id: 6
                state: state
              billingAddress:
                country:
                  deleted: true
                  unCode: unCode
                  alpha2: alpha2
                  name: name
                  alpha3: alpha3
                  id: 0
                city: city
                street: street
                postalCode: postalCode
                id: 6
                state: state
              email: email
              updatedAt: updatedAt
          createdAt: createdAt
          deleted: true
          amountRefunded: 0
          paymentMethod:
            createdAt: createdAt
            gid: gid
            deleted: true
            card:
              lastFour: lastFour
              cvv: cvv
              gid: gid
              scheme: scheme
              bin:
                country:
                  deleted: true
                  unCode: unCode
                  alpha2: alpha2
                  name: name
                  alpha3: alpha3
                  id: 0
                scheme: scheme
                bin: bin
                prepaid: true
                bankName: bankName
                cardLength: 1
                type: type
                bankCity: bankCity
                createdAt: createdAt
                deleted: true
                currency:
                  toFixed: 5
                  prefix: prefix
                  name: name
                  countryAlpha2: countryAlpha2
                  id: 5
                id: 6
                bankUrl: bankUrl
                brand: brand
                luhn: true
                updatedAt: updatedAt
              expiryMonth: expiryMonth
              terminal: terminal
              expiryYear: expiryYear
              expiresAt: expiresAt
              createdAt: createdAt
              number: number
              deleted: true
              pin: pin
              name: name
              fingerprint: fingerprint
              present: true
              brand: brand
              updatedAt: updatedAt
              customer:
                gid: gid
                tax:
                  createdAt: createdAt
                  deleted: true
                  id: 1
                  type: type
                  updatedAt: updatedAt
                referenceId: referenceId
                taxStatus: taxStatus
                createdAt: createdAt
                deleted: true
                phoneNumber: phoneNumber
                taxValue: taxValue
                name: name
                shippingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                billingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                email: email
                updatedAt: updatedAt
            updatedAt: updatedAt
            customer:
              gid: gid
              tax:
                createdAt: createdAt
                deleted: true
                id: 1
                type: type
                updatedAt: updatedAt
              referenceId: referenceId
              taxStatus: taxStatus
              createdAt: createdAt
              deleted: true
              phoneNumber: phoneNumber
              taxValue: taxValue
              name: name
              shippingAddress:
                country:
                  deleted: true
                  unCode: unCode
                  alpha2: alpha2
                  name: name
                  alpha3: alpha3
                  id: 0
                city: city
                street: street
                postalCode: postalCode
                id: 6
                state: state
              billingAddress:
                country:
                  deleted: true
                  unCode: unCode
                  alpha2: alpha2
                  name: name
                  alpha3: alpha3
                  id: 0
                city: city
                street: street
                postalCode: postalCode
                id: 6
                state: state
              email: email
              updatedAt: updatedAt
            paymentType:
              createdAt: createdAt
              deleted: true
              name: name
              id: 0
              updatedAt: updatedAt
            upi:
              createdAt: createdAt
              gid: gid
              deleted: true
              vpa: vpa
              updatedAt: updatedAt
              customer:
                gid: gid
                tax:
                  createdAt: createdAt
                  deleted: true
                  id: 1
                  type: type
                  updatedAt: updatedAt
                referenceId: referenceId
                taxStatus: taxStatus
                createdAt: createdAt
                deleted: true
                phoneNumber: phoneNumber
                taxValue: taxValue
                name: name
                shippingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                billingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                email: email
                updatedAt: updatedAt
          currency:
            toFixed: 5
            prefix: prefix
            name: name
            countryAlpha2: countryAlpha2
            id: 5
          payment:
            amount: 6
            gid: gid
            errorDescription: errorDescription
            authorizationCode: authorizationCode
            statementDescriptor: statementDescriptor
            fee: 5
            paymentSession:
              confirmMethod: confirmMethod
              gid: gid
              disputeDate: disputeDate
              errorDescription: errorDescription
              statementDescriptor: statementDescriptor
              receiptEmail: receiptEmail
              disputeType: disputeType
              nextActionUrl: nextActionUrl
              authorizationId: authorizationId
              description: description
              errorCode: errorCode
              feeTax: 9
              refundNote: refundNote
              secureStatus: secureStatus
              amountReceived: 5
              psClientSecret: psClientSecret
              createdAt: createdAt
              amountDisputed: 5
              disputeStatus: disputeStatus
              amountRefunded: 6
              captureMethod: captureMethod
              currency:
                toFixed: 5
                prefix: prefix
                name: name
                countryAlpha2: countryAlpha2
                id: 5
              net: 3
              returnUrl: returnUrl
              receiptNumber: receiptNumber
              updatedAt: updatedAt
              amount: 0
              paymentLinkId: paymentLinkId
              refundReason: refundReason
              respondBy: respondBy
              mrn: mrn
              receiptSms: receiptSms
              amountUnCaptured: 1
              rrn: rrn
              feeAmount: 7
              accountRate:
                createdAt: createdAt
                accountRate: 2
                processingMin: 4
                gid: gid
                deleted: true
                accountTax: 1
                accountFee: 1
                rate:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  processingMin: 6
                  gid: gid
                  fee: 9
                  tax: 6
                  processingMax: 7
                  acquirer:
                    createdAt: createdAt
                    deleted: true
                    test: true
                    name: name
                    id: 6
                    type: type
                    updatedAt: updatedAt
                  paymentType:
                    createdAt: createdAt
                    deleted: true
                    name: name
                    id: 0
                    updatedAt: updatedAt
                  createdAt: createdAt
                  baseRate: 1
                  deleted: true
                  rate: 5
                  baseTax: 9
                  baseFee: 4
                  currency:
                    toFixed: 5
                    prefix: prefix
                    name: name
                    countryAlpha2: countryAlpha2
                    id: 5
                  id: 1
                  category:
                    code: 9
                    name: name
                    id: 8
                  updatedAt: updatedAt
                salesPerson: salesPerson
                processingMax: 7
                acquirer:
                  createdAt: createdAt
                  deleted: true
                  test: true
                  name: name
                  id: 6
                  type: type
                  updatedAt: updatedAt
                updatedAt: updatedAt
              deleted: true
              paymentLinkGid: paymentLinkGid
              disputeFee: 2
              paymentMethod:
                createdAt: createdAt
                gid: gid
                deleted: true
                card:
                  lastFour: lastFour
                  cvv: cvv
                  gid: gid
                  scheme: scheme
                  bin:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    scheme: scheme
                    bin: bin
                    prepaid: true
                    bankName: bankName
                    cardLength: 1
                    type: type
                    bankCity: bankCity
                    createdAt: createdAt
                    deleted: true
                    currency:
                      toFixed: 5
                      prefix: prefix
                      name: name
                      countryAlpha2: countryAlpha2
                      id: 5
                    id: 6
                    bankUrl: bankUrl
                    brand: brand
                    luhn: true
                    updatedAt: updatedAt
                  expiryMonth: expiryMonth
                  terminal: terminal
                  expiryYear: expiryYear
                  expiresAt: expiresAt
                  createdAt: createdAt
                  number: number
                  deleted: true
                  pin: pin
                  name: name
                  fingerprint: fingerprint
                  present: true
                  brand: brand
                  updatedAt: updatedAt
                  customer:
                    gid: gid
                    tax:
                      createdAt: createdAt
                      deleted: true
                      id: 1
                      type: type
                      updatedAt: updatedAt
                    referenceId: referenceId
                    taxStatus: taxStatus
                    createdAt: createdAt
                    deleted: true
                    phoneNumber: phoneNumber
                    taxValue: taxValue
                    name: name
                    shippingAddress:
                      country:
                        deleted: true
                        unCode: unCode
                        alpha2: alpha2
                        name: name
                        alpha3: alpha3
                        id: 0
                      city: city
                      street: street
                      postalCode: postalCode
                      id: 6
                      state: state
                    billingAddress:
                      country:
                        deleted: true
                        unCode: unCode
                        alpha2: alpha2
                        name: name
                        alpha3: alpha3
                        id: 0
                      city: city
                      street: street
                      postalCode: postalCode
                      id: 6
                      state: state
                    email: email
                    updatedAt: updatedAt
                updatedAt: updatedAt
                customer:
                  gid: gid
                  tax:
                    createdAt: createdAt
                    deleted: true
                    id: 1
                    type: type
                    updatedAt: updatedAt
                  referenceId: referenceId
                  taxStatus: taxStatus
                  createdAt: createdAt
                  deleted: true
                  phoneNumber: phoneNumber
                  taxValue: taxValue
                  name: name
                  shippingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  billingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  email: email
                  updatedAt: updatedAt
                paymentType:
                  createdAt: createdAt
                  deleted: true
                  name: name
                  id: 0
                  updatedAt: updatedAt
                upi:
                  createdAt: createdAt
                  gid: gid
                  deleted: true
                  vpa: vpa
                  updatedAt: updatedAt
                  customer:
                    gid: gid
                    tax:
                      createdAt: createdAt
                      deleted: true
                      id: 1
                      type: type
                      updatedAt: updatedAt
                    referenceId: referenceId
                    taxStatus: taxStatus
                    createdAt: createdAt
                    deleted: true
                    phoneNumber: phoneNumber
                    taxValue: taxValue
                    name: name
                    shippingAddress:
                      country:
                        deleted: true
                        unCode: unCode
                        alpha2: alpha2
                        name: name
                        alpha3: alpha3
                        id: 0
                      city: city
                      street: street
                      postalCode: postalCode
                      id: 6
                      state: state
                    billingAddress:
                      country:
                        deleted: true
                        unCode: unCode
                        alpha2: alpha2
                        name: name
                        alpha3: alpha3
                        id: 0
                      city: city
                      street: street
                      postalCode: postalCode
                      id: 6
                      state: state
                    email: email
                    updatedAt: updatedAt
              mdr: mdr
              paymentDate: paymentDate
              refundDate: refundDate
              paymentMethodType:
              - null
              - null
              status: status
              customer:
                gid: gid
                tax:
                  createdAt: createdAt
                  deleted: true
                  id: 1
                  type: type
                  updatedAt: updatedAt
                referenceId: referenceId
                taxStatus: taxStatus
                createdAt: createdAt
                deleted: true
                phoneNumber: phoneNumber
                taxValue: taxValue
                name: name
                shippingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                billingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                email: email
                updatedAt: updatedAt
            description: description
            errorCode: errorCode
            tax: 5
            createdAt: createdAt
            deleted: true
            amountRefunded: 1
            paymentMethod:
              createdAt: createdAt
              gid: gid
              deleted: true
              card:
                lastFour: lastFour
                cvv: cvv
                gid: gid
                scheme: scheme
                bin:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  scheme: scheme
                  bin: bin
                  prepaid: true
                  bankName: bankName
                  cardLength: 1
                  type: type
                  bankCity: bankCity
                  createdAt: createdAt
                  deleted: true
                  currency:
                    toFixed: 5
                    prefix: prefix
                    name: name
                    countryAlpha2: countryAlpha2
                    id: 5
                  id: 6
                  bankUrl: bankUrl
                  brand: brand
                  luhn: true
                  updatedAt: updatedAt
                expiryMonth: expiryMonth
                terminal: terminal
                expiryYear: expiryYear
                expiresAt: expiresAt
                createdAt: createdAt
                number: number
                deleted: true
                pin: pin
                name: name
                fingerprint: fingerprint
                present: true
                brand: brand
                updatedAt: updatedAt
                customer:
                  gid: gid
                  tax:
                    createdAt: createdAt
                    deleted: true
                    id: 1
                    type: type
                    updatedAt: updatedAt
                  referenceId: referenceId
                  taxStatus: taxStatus
                  createdAt: createdAt
                  deleted: true
                  phoneNumber: phoneNumber
                  taxValue: taxValue
                  name: name
                  shippingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  billingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  email: email
                  updatedAt: updatedAt
              updatedAt: updatedAt
              customer:
                gid: gid
                tax:
                  createdAt: createdAt
                  deleted: true
                  id: 1
                  type: type
                  updatedAt: updatedAt
                referenceId: referenceId
                taxStatus: taxStatus
                createdAt: createdAt
                deleted: true
                phoneNumber: phoneNumber
                taxValue: taxValue
                name: name
                shippingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                billingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                email: email
                updatedAt: updatedAt
              paymentType:
                createdAt: createdAt
                deleted: true
                name: name
                id: 0
                updatedAt: updatedAt
              upi:
                createdAt: createdAt
                gid: gid
                deleted: true
                vpa: vpa
                updatedAt: updatedAt
                customer:
                  gid: gid
                  tax:
                    createdAt: createdAt
                    deleted: true
                    id: 1
                    type: type
                    updatedAt: updatedAt
                  referenceId: referenceId
                  taxStatus: taxStatus
                  createdAt: createdAt
                  deleted: true
                  phoneNumber: phoneNumber
                  taxValue: taxValue
                  name: name
                  shippingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  billingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  email: email
                  updatedAt: updatedAt
            currency:
              toFixed: 5
              prefix: prefix
              name: name
              countryAlpha2: countryAlpha2
              id: 5
            net: 2
            updatedAt: updatedAt
          acquirerReferenceNumber: acquirerReferenceNumber
          refundDate: refundDate
          updatedAt: updatedAt
          status: status
        responseCode: 200
        status: SUCCESS
      properties:
        message:
          example: OK
          type: string
        responseCode:
          example: 200
          format: int64
          type: integer
        status:
          description: status of response
          enum:
          - SUCCESS
          - FAILED
          type: string
        entity:
          $ref: '#/components/schemas/Refund'
      type: object
    RefundListResponse:
      example:
        message: OK
        entity:
          number: 0
          numberOfElements: 0
          size: 0
          totalPages: 0
          content:
          - reason: reason
            note: note
            gid: gid
            paymentSession:
              confirmMethod: confirmMethod
              gid: gid
              disputeDate: disputeDate
              errorDescription: errorDescription
              statementDescriptor: statementDescriptor
              receiptEmail: receiptEmail
              disputeType: disputeType
              nextActionUrl: nextActionUrl
              authorizationId: authorizationId
              description: description
              errorCode: errorCode
              feeTax: 9
              refundNote: refundNote
              secureStatus: secureStatus
              amountReceived: 5
              psClientSecret: psClientSecret
              createdAt: createdAt
              amountDisputed: 5
              disputeStatus: disputeStatus
              amountRefunded: 6
              captureMethod: captureMethod
              currency:
                toFixed: 5
                prefix: prefix
                name: name
                countryAlpha2: countryAlpha2
                id: 5
              net: 3
              returnUrl: returnUrl
              receiptNumber: receiptNumber
              updatedAt: updatedAt
              amount: 0
              paymentLinkId: paymentLinkId
              refundReason: refundReason
              respondBy: respondBy
              mrn: mrn
              receiptSms: receiptSms
              amountUnCaptured: 1
              rrn: rrn
              feeAmount: 7
              accountRate:
                createdAt: createdAt
                accountRate: 2
                processingMin: 4
                gid: gid
                deleted: true
                accountTax: 1
                accountFee: 1
                rate:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  processingMin: 6
                  gid: gid
                  fee: 9
                  tax: 6
                  processingMax: 7
                  acquirer:
                    createdAt: createdAt
                    deleted: true
                    test: true
                    name: name
                    id: 6
                    type: type
                    updatedAt: updatedAt
                  paymentType:
                    createdAt: createdAt
                    deleted: true
                    name: name
                    id: 0
                    updatedAt: updatedAt
                  createdAt: createdAt
                  baseRate: 1
                  deleted: true
                  rate: 5
                  baseTax: 9
                  baseFee: 4
                  currency:
                    toFixed: 5
                    prefix: prefix
                    name: name
                    countryAlpha2: countryAlpha2
                    id: 5
                  id: 1
                  category:
                    code: 9
                    name: name
                    id: 8
                  updatedAt: updatedAt
                salesPerson: salesPerson
                processingMax: 7
                acquirer:
                  createdAt: createdAt
                  deleted: true
                  test: true
                  name: name
                  id: 6
                  type: type
                  updatedAt: updatedAt
                updatedAt: updatedAt
              deleted: true
              paymentLinkGid: paymentLinkGid
              disputeFee: 2
              paymentMethod:
                createdAt: createdAt
                gid: gid
                deleted: true
                card:
                  lastFour: lastFour
                  cvv: cvv
                  gid: gid
                  scheme: scheme
                  bin:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    scheme: scheme
                    bin: bin
                    prepaid: true
                    bankName: bankName
                    cardLength: 1
                    type: type
                    bankCity: bankCity
                    createdAt: createdAt
                    deleted: true
                    currency:
                      toFixed: 5
                      prefix: prefix
                      name: name
                      countryAlpha2: countryAlpha2
                      id: 5
                    id: 6
                    bankUrl: bankUrl
                    brand: brand
                    luhn: true
                    updatedAt: updatedAt
                  expiryMonth: expiryMonth
                  terminal: terminal
                  expiryYear: expiryYear
                  expiresAt: expiresAt
                  createdAt: createdAt
                  number: number
                  deleted: true
                  pin: pin
                  name: name
                  fingerprint: fingerprint
                  present: true
                  brand: brand
                  updatedAt: updatedAt
                  customer:
                    gid: gid
                    tax:
                      createdAt: createdAt
                      deleted: true
                      id: 1
                      type: type
                      updatedAt: updatedAt
                    referenceId: referenceId
                    taxStatus: taxStatus
                    createdAt: createdAt
                    deleted: true
                    phoneNumber: phoneNumber
                    taxValue: taxValue
                    name: name
                    shippingAddress:
                      country:
                        deleted: true
                        unCode: unCode
                        alpha2: alpha2
                        name: name
                        alpha3: alpha3
                        id: 0
                      city: city
                      street: street
                      postalCode: postalCode
                      id: 6
                      state: state
                    billingAddress:
                      country:
                        deleted: true
                        unCode: unCode
                        alpha2: alpha2
                        name: name
                        alpha3: alpha3
                        id: 0
                      city: city
                      street: street
                      postalCode: postalCode
                      id: 6
                      state: state
                    email: email
                    updatedAt: updatedAt
                updatedAt: updatedAt
                customer:
                  gid: gid
                  tax:
                    createdAt: createdAt
                    deleted: true
                    id: 1
                    type: type
                    updatedAt: updatedAt
                  referenceId: referenceId
                  taxStatus: taxStatus
                  createdAt: createdAt
                  deleted: true
                  phoneNumber: phoneNumber
                  taxValue: taxValue
                  name: name
                  shippingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  billingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  email: email
                  updatedAt: updatedAt
                paymentType:
                  createdAt: createdAt
                  deleted: true
                  name: name
                  id: 0
                  updatedAt: updatedAt
                upi:
                  createdAt: createdAt
                  gid: gid
                  deleted: true
                  vpa: vpa
                  updatedAt: updatedAt
                  customer:
                    gid: gid
                    tax:
                      createdAt: createdAt
                      deleted: true
                      id: 1
                      type: type
                      updatedAt: updatedAt
                    referenceId: referenceId
                    taxStatus: taxStatus
                    createdAt: createdAt
                    deleted: true
                    phoneNumber: phoneNumber
                    taxValue: taxValue
                    name: name
                    shippingAddress:
                      country:
                        deleted: true
                        unCode: unCode
                        alpha2: alpha2
                        name: name
                        alpha3: alpha3
                        id: 0
                      city: city
                      street: street
                      postalCode: postalCode
                      id: 6
                      state: state
                    billingAddress:
                      country:
                        deleted: true
                        unCode: unCode
                        alpha2: alpha2
                        name: name
                        alpha3: alpha3
                        id: 0
                      city: city
                      street: street
                      postalCode: postalCode
                      id: 6
                      state: state
                    email: email
                    updatedAt: updatedAt
              mdr: mdr
              paymentDate: paymentDate
              refundDate: refundDate
              paymentMethodType:
              - null
              - null
              status: status
              customer:
                gid: gid
                tax:
                  createdAt: createdAt
                  deleted: true
                  id: 1
                  type: type
                  updatedAt: updatedAt
                referenceId: referenceId
                taxStatus: taxStatus
                createdAt: createdAt
                deleted: true
                phoneNumber: phoneNumber
                taxValue: taxValue
                name: name
                shippingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                billingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                email: email
                updatedAt: updatedAt
            createdAt: createdAt
            deleted: true
            amountRefunded: 0
            paymentMethod:
              createdAt: createdAt
              gid: gid
              deleted: true
              card:
                lastFour: lastFour
                cvv: cvv
                gid: gid
                scheme: scheme
                bin:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  scheme: scheme
                  bin: bin
                  prepaid: true
                  bankName: bankName
                  cardLength: 1
                  type: type
                  bankCity: bankCity
                  createdAt: createdAt
                  deleted: true
                  currency:
                    toFixed: 5
                    prefix: prefix
                    name: name
                    countryAlpha2: countryAlpha2
                    id: 5
                  id: 6
                  bankUrl: bankUrl
                  brand: brand
                  luhn: true
                  updatedAt: updatedAt
                expiryMonth: expiryMonth
                terminal: terminal
                expiryYear: expiryYear
                expiresAt: expiresAt
                createdAt: createdAt
                number: number
                deleted: true
                pin: pin
                name: name
                fingerprint: fingerprint
                present: true
                brand: brand
                updatedAt: updatedAt
                customer:
                  gid: gid
                  tax:
                    createdAt: createdAt
                    deleted: true
                    id: 1
                    type: type
                    updatedAt: updatedAt
                  referenceId: referenceId
                  taxStatus: taxStatus
                  createdAt: createdAt
                  deleted: true
                  phoneNumber: phoneNumber
                  taxValue: taxValue
                  name: name
                  shippingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  billingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
                    id: 6
                    state: state
                  email: email
                  updatedAt: updatedAt
              updatedAt: updatedAt
              customer:
                gid: gid
                tax:
                  createdAt: createdAt
                  deleted: true
                  id: 1
                  type: type
                  updatedAt: updatedAt
                referenceId: referenceId
                taxStatus: taxStatus
                createdAt: createdAt
                deleted: true
                phoneNumber: phoneNumber
                taxValue: taxValue
                name: name
                shippingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                billingAddress:
                  country:
                    deleted: true
                    unCode: unCode
                    alpha2: alpha2
                    name: name
                    alpha3: alpha3
                    id: 0
                  city: city
                  street: street
                  postalCode: postalCode
                  id: 6
                  state: state
                email: email
                updatedAt: updatedAt
              paymentType:
                createdAt: createdAt
                deleted: true
                name: name
                id: 0
                updatedAt: updatedAt
              upi:
                createdAt: createdAt
                gid: gid
                deleted: true
                vpa: vpa
                updatedAt: updatedAt
                customer:
                  gid: gid
                  tax:
                    createdAt: createdAt
                    deleted: true
                    id: 1
                    type: type
                    updatedAt: updatedAt
                  referenceId: referenceId
                  taxStatus: taxStatus
                  createdAt: createdAt
                  deleted: true
                  phoneNumber: phoneNumber
                  taxValue: taxValue
                  name: name
                  shippingAddress:
                    country:
                      deleted: true
                      unCode: unCode
                      alpha2: alpha2
                      name: name
                      alpha3: alpha3
                      id: 0
                    city: city
                    street: street
                    postalCode: postalCode
[...]
